.banner{
width: 1005px;
height: 650px;
background: url(....);
background-size: 100;
background-position-x:center ;
background-repeat: no-repeat;
}






.paddin{
    margin-top: 10px;
    margin-bottom: 10px;
}